{% extends 'layout/base.html' %}

{% block title %}Chi tiet san pham{% endblock %}

{% block content %}
<br/>
<h1 class="text-center text-info">{{ book.name }}</h1>

<div class="row">
    <div class="col-md-5 col-xs-12">
      <img src="{{ url_for('static', filename=book.image) }}" alt="{{ book.name }}" />
    </div>
    <div class="col-md-7 col-xs-12">
      <h2>Tên sách: {{ book.name }}</h2>
      <h2>Thể loại: {{ book.type }}</h2>
      <h2>Nhà xuất bản: {{ book.publisher_id }}</h2>
      <h2>Tác giả : {{ book.author_id }}</h2>
      <h2>Gia: {{ "{:,.1f}".format(book.price) }} VND</h2>
    </div>
</div>
<hr>
{% if current_user.is_authenticated %}
<div >
    <div class="form-group">
        <textarea class="form-control" id="commentId" placeholder="Nhap noi dung binh luan..."></textarea>
    </div>
    <input type="button" class="btn btn-primary" onclick="addComment({{ book.id }})" value="Binh luan">
</div>
{% else %}
<a href="{{ url_for('user_signin') }}">Dang nhap de binh luan</a>
{% endif %}
<br><br>
<div id="commentArea">
    {% for c in comments %}
    <div class="row">
        <div class="col-md-1 col-xs-4">
            {% if c.user.avatar and c.user.avatar.startswith('https') %}
             <img src="{{ c.user.avatar }}" class="img-fluid rounded-circle" alt="demo"/>
            {% else %}
            <img src="{{ url_for('static', filename='images/default.png') }}" class="img-fluid rounded-circle" alt="demo"/>
            {% endif %}
        </div>
        <div class="col-md-11 col-xs-8">
            <p>{{ c.content }}</p>
            <p><em class="my-date">{{ c.created_date }}</em></p>
        </div>
    </div>
    {% endfor %}
</div>

{% if pages > 1 %}
    <ul class="pagination">
        {% for idx in range(1, pages+1) %}
        <li class="page-item"><a class="page-link" href="{{ url_for('book_detail', book_id=book.id, page=idx) }}">{{ idx }}</a></li>
        {% endfor %}

    </ul>
{% endif %}

<script>
    window.onload = function() {
        let d = document.getElementsByClassName('my-date')
        for (let i = 0; i < d.length; i++)
            d[i].innerText = moment(d[i].innerText).locale('vi').fromNow()
    }
</script>
{% endblock %}