<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>ONLINE BOOKSTORE</h6>
              <p class="text-justify"><i>371 Nguyễn Kiệm, Quận Gò Vấp, TPHCM </i></p>
              <p>Nhà sách của chúng tôi nhận đặt hàng trực tuyến và giao sách miễn phí tận nơi</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>DỊCH VỤ</h6>
            <ul class="footer-links">
              <li><a href="#">Điều khoản sử dụng</a></li>
              <li><a href="#">Chính sách bảo mật</a></li>
              <li><a href="#">Chính sách nhà sách</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>HỖ TRỢ</h6>
            <ul class="footer-links">
              <li><a href="#">Chính sách đổi trả</a></li>
              <li><a href="#">Phương thức vận chuyển</a></li>
              <li><a href="#">Phương thức thanh toán</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by <a href="#">TeamCodeD</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>